body {
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.05em;
    background-color: #18181B;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

h1,
h2 {
    color: #FCFAF9;
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

h3 {
    color: #FCFAF9;
    font-size: 2rem;
    margin-bottom: 0;
    padding: 20px;
}

/* Class Styles */
.content,
.book-disponibles,
.book-page {
    background-color: #22262B;
    color: #FCFAF9;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.welcome-msg {
    font-weight: bold;
    color: lightgreen;
    padding: 6px 8px;
}

.user-info {
    display: flex;
    align-items: center;
}

.sign-up {
    color: #ffffff;
    background-color: #007bff;
    padding: 10px;
    border-radius: 8px;
}

.navbar,
.navbar .container-fluid,
.navbar-collapse,
.navbar-nav {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-nav {
    margin-right: auto;
}

.navbar-brand,
.navbar-nav .nav-link,
.menu a,
.user-info {
    color: #ADB5BD;
    font-size: 16px;
    padding: 6px 9px;
}

.navbar-brand {
    font-size: 22px;
    letter-spacing: 0.1em;
    color: #ADB5BD;
    font-style: italic;
    font-weight: bold;
}

.search-container,
.search-input,
.search-icon {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #18181B;
    color: #ADB5BD;
    background-color: #18181B;
    border-radius: 20px;
    width: 100%;
}

.search-icon {
    color: #555;
    font-size: 20px;
    padding: 10px;
}

.logo {
    max-width: 100px;
    height: auto;
    padding-left: 20px;
}

.book-card {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-book-card:hover {
    background-color: #33383D;
}

.search-book-card.selected {
    background-color: #4CAF50;
}

.search-book-card img {
    border: 2px solid transparent;
}

.search-book-card.selected img {
    border-color: #fff;
}

.book-card,
.search-book-card {
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    color: inherit;
}

.book-card img,
.search-book-card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.book-page-title {
    color: #FCFAF9;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.book-author,
.book-publication-date,
.book-category {
    color: #d6d3cd;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    font-weight: normal;
}

.book-description {
    color: #d6d3cd;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.book-page-image {
    width: 70%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    overflow: hidden;
}

.book-page .container {
    padding: 20px;
}

.book-page .row {
    align-items: center;
}

.book-links {
    margin-bottom: 1rem;
}

.return-link {
    border-color: #396086;
    background-color: #396086;
    color: #181a1b;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
}

.main-logo-container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 500px;
    margin: 0 auto;
}

.mountain-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.centered {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: block;
    text-align: left;
    margin-bottom: 0.5rem;
    color: #ADB5BD;
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover,
.menu a:hover,
.book-page .mailto-link:hover,
.search-button:hover {
    color: #0069d9;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    color: #ADB5BD;
    background-color: black;
    width: 100%;
    text-decoration: none;
    flex-shrink: 0;
    margin-top: auto;
    /* This pushes the footer to the bottom */
}

/* About Us Section Styles */
.about-us {
    padding: 40px;
    text-align: left;
    color: #ADB5BD;
    font-size: 18px;
    margin-bottom: 20px;

}

.about-us h4 {
    color: #396086;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 10px;
}

/* Login Page Styles */
.login-container {
    width: 100%;
    min-height: 60vh;
    font-size: 1.2rem;
    background-color: #181a1b;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-content {
    padding: 20px;
    text-align: center;
    background-color: #22262B;
    border-radius: 8px;
}

.account-exists {
    font-size: 16px;
    color: #ADB5BD;
    text-align: left;
}

.login-link {
    text-decoration: none;
}

.login-link:hover {
    color: #0069d9;
    text-decoration: underline;
}

.login-content h2 {
    color: #ADB5BD;
    font-size: 20px;
    margin-bottom: 10px;
}

.login-form input {
    background-color: #22262B;
    border-color: #ffffff;
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    font-size: 1.1rem;
    color: #ADB5BD;
}

.login-form button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    margin: 20px 0 20px 0;
    padding: 0.4em 1.2em 0.4em 1.2em;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.login-form button:hover {
    background-color: #093854;
}

.title-bar {
    background-color: #22262B;
    color: #ADB5BD;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.title-bar h4 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
}

.title-bar input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.title-bar .col-md-6 {
    display: flex;
    align-items: center;
}

/* User Dashboard */

.user-dashboard {
    background-color: #2C3034;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    color: #EFEFEF;
}

.user-details h3 {
    color: #FFD700;  
}

.user-details p {
    color: #FFF;
    font-size: 18px;
}

.user-activities {
    background-color: #22262B;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    color: #EFEFEF;
}

.user-activities p {
    font-size: 16px;
}
