{% extends "base.html" %}

{% block content %}
<div class="about-us">
    <h4>About us</h4>

    <p>Bukkuri is a free website dedicated to helping learners of Japanese interact with native
        content. </p>
        
    <p>I believe that learners are often left to their own devices when it comes to switching to
        native content so we aim to ease this transition by reccomending content based on the user's level and
        language proficiency.</p>

    <h4>Our team</h4>

    <p>Currently, there is only one member of our team, the developer and founder, Dragomir.
        He is also a learner of Japanese and was inspired by his own struggle with native content to create the
        site.</p>
</div>
{% endblock %}