{% extends "base.html" %}

{% block content %}
<div class="main-logo-container">
    <div class="centered container">
        <div class="row">
            <h3 class="text-center">{{ current_user.username }}'s Dashboard</h3>
            <div class="col-md-12 user-dashboard">
                <div class="user-details">
                    <p>Email: {{ current_user.email }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<main>
    <section class="content">
        <h3>Your Ratings</h3>
        <div class="user-activities">
        </div>
    </section>
</main>
{% endblock %}
