{% extends "base.html" %}

{% block content %}

<div class="main-logo-container">
    <video src="{{ url_for('static', filename='vid/mountain.mp4') }}" autoplay loop muted
        class="mountain-background"></video>
    <div class="centered container">
        <div class="row">
            <h2 class="text-center">Discover your portal to Japanese books</h2>
        </div>
    </div>
</div>

<main>
    <section class="content">
        <h3>Books for your level</h3>
        <div class="description-principale">
            <Our>Our difficulty ratings are powered by our community. Any user can grade their completed books, helping
                you discover content tailored to your skills. Our database already houses a diverse collection of books
                that users can add to.</p>
        </div>
        <h3>Popular books:</h3>
        <div class="book-disponibles row">
            {% for livre in livres %}
            <div class="col-md-4 mb-4">
                <a href="{{ url_for('page_livre', livre_id=livre.id) }}" class="book-card">
                    <img src="{{ livre.image_url }}" alt="{{ livre.titre }}">
                    <p class="book-title">{{ livre.titre }}</p>
                    <p class="book-author">{{ livre.auteur }}</p>
                    <div class="book-review" data-review-score="{{ livre.review_score | default(0) }}">
                        {% for star in range(5) %}
                        <i class="material-icons star-icon">star</i>
                        {% endfor %}
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>
</main>

{% endblock %}